{% extends 'base.html' %}

{% block content %}
    <div class="info">
    </p>
        Aplicativo para ocultação de mensagem escondidas em imagens.
    </p>
    </p>
            escolha a opção desejada:
    </p>
    </div>

    <div class="options">
        <div class="encode">
            <a href="/encode">
                <span class="material-symbols-otlined">
                    upload_file
                </span>
                </p>
                    Codificar Mensagem
                </p>
            </a>
        </div>
        <div class="decode">
            <a href="/decode">
                <span class="material-symbols-otlined">
                    sim_card_download
                </span>
                </p>
                    Decodificar Mensagem
                </p>
            </a>
        </div>
    </div>
{% endblock %}